	body{
	background-image:url(ft.jpg);
	background-size:cover;
	}
	h1{
	text-align: center;
	color:#f5f5f5;
	font-size: 50px;
	font-family: Papyrus;
	text-decoration: underline;
	text-shadow: 10px 10px 5px #f5f5f5;
	}
	p{
	color:#9ea7be;
	font-size: 20px;
	font-family: Papyrus;
	}
	img{
	width:405px;
	}
	a{
	color:#ffffff;
	}